body {
  font-family: "Montserrat", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

p {
  color: #6f6f6f;
  font-size: 1.5rem;
  font-family: "Montserrat";
}

/* Headings */
.big-heading {
  font-size: 3.5rem;  
  line-height: 1.5;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

/* Container Fluid */

.container-fluid {
  padding: 7% 15%;
}

/* Sections */

.colored-section {
  background-color: #00d1e9;
  color: #fff;
}

.grey-section {
  background-color: #e7e6e6;
}

.white-section {
  background-color: #fff;
}

/* Navigation Bar */

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-family: "Monsterrat", sans-serif;
  font-size: 1rem;
  padding: 0 2px;
}

/* Download Buttons */

.download-button {
  margin: 5% 3% 5% 0%;
}

/* Title Section */

#title {
  background-color: #2caeff;
  color: #fff;
}

#title .container-fluid {
  padding: 3% 15% 15%;
}

.title-h1 {
  padding-bottom: 25px;
}

/* Title Image */

.title-image {
  width: 17%;
  transform: rotate(10deg);
  position: absolute;
  right: 25%
}


/* Features Section */
#features {
  position: relative;
}

.feature-title {
  font-size: 1.5rem;
}

.features-box {
  text-align: center;
  padding: 5%;
}

.icon {
  color: #0064fa;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #002ac3
}

/* Testimonial Section */
#quotes {
  text-align: center;
  color: #fff;
}

.quotes-image {
  width: 8%;
  border-radius: 100%;
  margin: 20px;
}

.carousel-item {
  padding: 7% 15%;
}

#press {
  background-color: #ef8127;
  text-align: center;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}


/* Pricing Section */
#itinerary {
  padding: 100px;
  text-align: center;
}

.itinerary-column {
  padding: 3% 2%;
}

.card-header {
  background-color: #00d1e9;
}

.card-body {
  background-color: #a3f2fb;
}

.r {
  color: #fff;
}

/* Call to Action Section */
#cta {
  text-align: center;
  padding: 10% 20% 0;
}

.cta-image {
  width: 40%;
  text-align: center;
}

/* Footer Section */
#footer {
  text-align: center;
  padding: 10% 20%;
}

.icons {
  padding: 10px 10px;
  color: #0064fa
}

#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: rgba(135, 221, 248, 0.718)64fa; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}

@media (max-width: 1028px) {

  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
    width: 50%;
  }
}
